* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  color: #999;
  background: #f6f6f6;
  width: 100%;
  padding: 1rem;
}

.notes {
  columns: 4 200px;
  column-gap: 1rem;
  padding: 1rem;

  .note {
    width: 100%;
    min-width: 150px;
    min-height: 300px;
    background: #6495ed;
    color: white;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    display: inline-block;

    &-add {
      @extend .note;
      background: #6494ed28;
      font-size: 3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #6494edbe;
      }
    }

    .title {
      font-weight: bold;
      font-size: 2.25rem;
    }

    .text {
      font-size: 1.5rem;
    }
  }
}
